html, body {
  height: 100%;
  background-color: #BCD9D7;
}

.title {
  font-size: 60px;
  color: #192E2F;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.grow-title a:hover {
  color: #39595C;
  text-decoration: none;
}

.login-card {
  position: absolute;
  top: 80px;
  right: 40px;
}

.calendar {
  background-color: white;
}

.title-inline {
  display: inline;
}

.plant-icon-card {
  width: 125px;
  background-color: #39595C;
  color: white;
}

.plant-icon-title {
  padding: 0%;
  margin: 0%;
  font-size: smaller;
  text-align: center;
}

.plant-details-icon {
  width: 75px;
  display: inline;
}

.selected {
  border: thick #39FF14;
}

.bold {
  font-weight: bolder;
}

.plant-qty {
  background-color: darkslategrey;
  color: white;
}

.carousel-indicators > li {
  border-radius: 50%;
}

#myCarousel-indicators > li {
  border-radius: 50%;
}

.header-row {
  background-color: lightgray;
}

.event-container {
  background-color: #EDEEF0;
}

.event-card {
  width: 430px;
  border-width: 6px !important;
}

.cal-icon {
  width: 40px;
}

.source-title {
  margin-top: 50px;
}

.link-to-db a {
  color: black;
  text-decoration: none;
}

#selected-color-box {
  width: 30px;
  height: 30px;
  background-color: #79A9A9;
}

.event-color-box {
  width: 20px;
  height: 20px;
  background-color: #79A9A9;
  display: inline-block;
}

.selected-plant {
  border-color: #00D084;
  border-width: 6px !important;
}

.new-event-form {
  background-color: #192e2f1a;
}

.new-event-btn {
  border-radius: 6px;
}