html, body {
  height: 100%;
  background-color: #BCD9D7;
}

.title {
  font-size: 60px;
  color: #EDEEF0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-card {
  position: absolute;
  top: 80px;
  right: 40px;
}

.calendar {
  background-color: white;
}

.title-inline {
  display: inline;
}

.plant-icon-card {
  width: 125px;
  background-color: #39595C;
  color: white;
}

.plant-icon-title {
  padding: 0%;
  margin: 0%;
  font-size: smaller;
  text-align: center;
}

.plant-details-icon {
  width: 75px;
  display: inline;
}