* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #BCD9D7;
}

.title {
  font-size: 60px;
  color: #EDEEF0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 5px 10%;
}

nav li {
  display: inline-block;
  font-size: 1.3em;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}